# Compile output directory.
/delfos/target/

# Delfos temporary directory, used to store unsaved results and other files and directories that are safe to delete.
/delfos/temp/

# Delfos configuration directory, which holds differents configuration defined.
/delfos/.config/

# Delfos directory to deploy in any linux machine
/delfos/delfos-install/.config/

# Nano (text editor) backups.
*~

# Compiled and packed java sources.
*.jar

*.tar.gz

