# Compile output directory.
/target/
/nbactions-dummy-profile.xml

# Delfos temporary directory, used to store unsaved results and other files and directories that are safe to delete.
/temp/

# Delfos configuration directory, which holds differents configuration defined.
/.config/

# Delfos directory to deploy in any linux machine
/delfos-install/.config/

# Nano (text editor) backups.
*~

# Compiled and packed java sources.
*.jar

*.tar.gz
hs_err_*
/nbproject/

*.csv
*.dat


.idea/
*.iml
